body {
  background-color: black;
  text-align: center;
  color: red;
}

button {
  font-family: "Times";
    background-color: black;
  color: red;
}

p {
  text-align: center;
  color: ;
}
.nav{
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}

#popup {
    color: skyblue;
    background-color: darkgreen;
}
.movie_head {
    padding: 6px 22px;
    display: inline-block;
    width: 75%;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
html {
    scroll-behavior: smooth;
}
#about{
  background-color:black;
  color:red;
}
#contact{
  color:#0D47A1;
}